h1{
    color: lightgreen;
    text-align: center;
}

h3{
    color: blue;
}

p{
    color: red;
}

div{
    border: 3px solid black;
    border-radius: 10px;
    background-color: gray;
    text-align: center;
}

.sub-div{
    background-color: lightgray;
}